theme "catppuccin-mocha-custom"

default_shell "nu"
pane_frames false

ui {
	pane_frames { rounded_corners true; }
}

themes {
    catppuccin-mocha-custom {
        bg "#585b70" // Surface2
        fg "#cdd6f4"
        red "#f38ba8"
        green "#89b4fa"
        blue "#89b4fa"
        yellow "#f9e2af"
        magenta "#f5c2e7" // Pink
        orange "#89b4fa"
        cyan "#89dceb" // Sky
        black "#181825" // Mantle
        white "#cdd6f4"
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
}

keybinds clear-defaults=true {
    normal {
        bind "Ctrl Space" { SwitchToMode "tmux"; }

        bind "Ctrl 1" { GoToTab 1; }
        bind "Ctrl 2" { GoToTab 2; }
        bind "Ctrl 3" { GoToTab 3; }
        bind "Ctrl 4" { GoToTab 4; }
        bind "Ctrl 5" { GoToTab 5; }
        bind "Ctrl 6" { GoToTab 6; }
        bind "Ctrl 7" { GoToTab 7; }
        bind "Ctrl 8" { GoToTab 8; }
        bind "Ctrl 9" { GoToTab 9; }

        bind "Alt h" "Alt Left" { MoveFocus "Left"; }
        bind "Alt l" "Alt Right" { MoveFocus "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }

        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }

        bind "Ctrl Down" { ScrollDown; }
        bind "Ctrl Up" { ScrollUp; }
        bind "Ctrl PageDown" { HalfPageScrollDown; }
        bind "Ctrl PageUp" { HalfPageScrollUp; }
        bind "Ctrl Alt e" { EditScrollback; }
    }
    // tmux mode is taken for all bindings with prefixes
    tmux {
        // tabs
        bind "t" { SwitchToMode "tab"; }
        bind "[" { GoToPreviousTab; SwitchToMode "normal"; }
        bind "]" { GoToNextTab; SwitchToMode "normal"; }
        bind "Tab" { ToggleTab; SwitchToMode "normal"; }

        // panes
        bind "p" { SwitchToMode "pane"; }
        bind "r" { SwitchToMode "resize"; }
        bind "Space" { SwitchFocus; SwitchToMode "normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "normal"; }

        // sessions
        bind "d" { Detach; }
        bind "q" { Quit; }
        bind "f" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "normal"
        }

        // search/scroll
        bind "s" { SwitchToMode "scroll"; }
    }
    tab {
        bind "p" { SwitchToMode "renamepane"; }
        bind "t" { NewTab; SwitchToMode "normal"; }
        bind "w" { CloseTab; SwitchToMode "normal"; }
        bind "[" { MoveTab "Left"; SwitchToMode "normal"; }
        bind "]" { MoveTab "Right"; SwitchToMode "normal"; }
        bind "Tab" { ToggleTab; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "renametab"; }
    }
    pane {
        bind "p" { NewPane; SwitchToMode "normal"; }
        bind "s" { NewPane "Down"; SwitchToMode "normal"; }
        bind "d" { NewPane "Right"; SwitchToMode "normal"; }
        bind "w" { CloseFocus; SwitchToMode "normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "normal"; }
        bind "f" { ToggleFloatingPanes; SwitchToMode "normal"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}

        bind "Tab" { MovePane; SwitchToMode "normal"; }
        bind "m" { MovePaneBackwards; SwitchToMode "normal"; }
        bind "h" "Left" { MovePane "Left"; SwitchToMode "normal"; }
        bind "j" "Down" { MovePane "Down"; SwitchToMode "normal"; }
        bind "k" "Up" { MovePane "Up"; SwitchToMode "normal"; }
        bind "l" "Right" { MovePane "Right"; SwitchToMode "normal"; }
    }
    resize {
        bind "h" "Left" { Resize "Increase Left"; }
        bind "j" "Down" { Resize "Increase Down"; }
        bind "k" "Up" { Resize "Increase Up"; }
        bind "l" "Right" { Resize "Increase Right"; }
        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }
        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }
    scroll {
        bind "f" { SwitchToMode "entersearch"; SearchInput 0; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "d" "t" { HalfPageScrollDown; }
        bind "u" "s" { HalfPageScrollUp; }
        bind "PageDown" "Right" "l" { PageScrollDown; }
        bind "PageUp" "Left" "h" { PageScrollUp; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }

        bind "n" { Search "down"; }
        bind "N" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    entersearch {
        bind "Enter" { SwitchToMode "scroll"; }
    }

    shared_except "normal" {
        bind "Esc" { SwitchToMode "normal"; }
    }
    renametab {
        bind "Enter" { SwitchToMode "normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "normal"; }
    }
    renamepane {
        bind "Enter" { SwitchToMode "normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "normal"; }
    }
}
