layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:@zjstatus_path@" {
                format_left   "{mode} #[fg=#f2cdcd]  #[fg=#cdd6f4]{session} #[fg=#45475a]| {tabs}"
                format_right  "{notifications} #[fg=#74c7ec]#[fg=#11111b,bg=#74c7ec] #[fg=#cdd6f4,bg=#313244] {command_git_branch}#[fg=#313244] #[fg=#a6e3a1]#[fg=#11111b,bg=#a6e3a1] #[fg=#cdd6f4,bg=#313244] {command_user}@{command_host}#[fg=#313244] #[fg=#f38ba8]#[fg=#11111b,bg=#f38ba8]󰃭 {datetime}#[fg=#313244]"

                format_hide_on_overlength "true"
                format_precedence         "lrc"

                // border_enabled  "true"
                border_char     "─"
                border_format   "#[fg=#313244]{char}"
                border_position "bottom"

                mode_normal       "#[fg=#89b4fa]#[bg=#89b4fa,fg=#11111b,bold]NORMAL#[fg=#89b4fa]"
                mode_tmux         "#[fg=#a6e3a1]#[bg=#a6e3a1,fg=#11111b,bold]PREFIX#[fg=#a6e3a1]"
                mode_tab          "#[fg=#fab387]#[bg=#fab387,fg=#11111b,bold]TAB#[fg=#fab387]"
                mode_pane         "#[fg=#fab387]#[bg=#fab387,fg=#11111b,bold]PANE#[fg=#fab387]"
                mode_rename_tab   "#[fg=#f9e2af]#[bg=#f9e2af,fg=#11111b,bold]RENAME#[fg=#f9e2af]"
                mode_rename_pane  "#[fg=#f9e2af]#[bg=#f9e2af,fg=#11111b,bold]RENAME#[fg=#f9e2af]"
                mode_scroll       "#[fg=#eba0ac]#[bg=#eba0ac,fg=#11111b,bold]SCROLL#[fg=#eba0ac]"
                mode_enter_search "#[fg=#eba0ac]#[bg=#eba0ac,fg=#11111b,bold]SEARCH#[fg=#eba0ac]"
                mode_resize       "#[fg=#cba6f7]#[bg=#cba6f7,fg=#11111b,bold]RESIZE#[fg=#cba6f7]"

                //tab_active "#[fg=#f5c2e7]{floating_indicator}{fullscreen_indicator}{sync_indicator} #[fg=#313244]#[fg=#cdd6f4,bg=#313244,bold] {name} #[fg=#313244,bg=#fab387]#[fg=#11111b,bg=#fab387,bold] {index} #[fg=#fab387] "
                //tab_normal "#[fg=#313244]#[fg=#cdd6f4,bg=#313244] {name} #[fg=#313244,bg=#b4befe]#[fg=#11111b,bg=#b4befe] {index} #[fg=#b4befe] "
                tab_active "#[fg=#fab387,italic,bold] {name} #[fg=#94e2d5]{floating_indicator}{fullscreen_indicator}{sync_indicator}"
                tab_normal "#[fg=#585b70,italic] {name} "
                tab_sync_indicator       "󰓦 "
                tab_fullscreen_indicator "󰊓 "
                tab_floating_indicator   "󰖲 "

                notification_format_unread           "#[fg=#f9e2af]#[fg=#11111b,bg=#f9e2af] #[fg=#cdd6f4,bg=#313244] {message}#[fg=#313244]"
                notification_format_no_notifications ""
                notification_show_interval           "10"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "{stdout}"
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                command_host_command    "uname -n"
                command_host_format     "{stdout}"
                command_host_interval   "10"
                command_host_rendermode "static"
                
                command_user_command    "whoami"
                command_user_format     "{stdout}"
                command_user_interval   "10"
                command_user_rendermode "static"

                datetime          "#[fg=#cdd6f4,bg=#313244] {format}"
                datetime_format   "%a, %Y-%m-%d  󰅐 %H:%M"
                datetime_timezone "Asia/Tashkent"
            }
        }
        children
    }
}

